[submodule "GComponentBaseLib"]
	path = GComponentBaseLib
	url  = https://github.com/GueChen/GComponentBaseLib.git

[submodule "GComponentQtPluginLib"]
	path = GComponentQtPluginLib
	url  = https://github.com/GueChen/GComponentQtPuginLib.git
	branch = simulator_lib


[submodule "v-hacd"]
	path = 3rdparty/v-hacd
	url  = git@github.com:kmammou/v-hacd.git